<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <title>One Dojo w/ ninjas</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
        <div class="container">
            <a class="navbar-brand" href="#">All Ninjas</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/dojos/new">Add Dojo</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link active" href="/albums/new">Add an Album</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <main class="container">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>Created_At</th>
                            <th>Updated_At</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ninja in ninjas %}
                        <tr>
                            <td>{{ ninja.first_name }}</td>
                            <td>{{ ninja.last_name }}</td>
                            <td>{{ ninja.age }}</td>
                            <td>{{ ninja.created_at }}</td>
                            <td>{{ ninja.updated_at }}</td>
                            <td>
                                <a href="/dojos/{{ dojo.id }}">View</a>
                                <a href="/dojos/{{ dojo.id }}/edit">Edit</a>
                                <a href="/dojos/{{ dojo.id }}/delete">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="/dojos">Go Back</a>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>